@import url(http://fonts.googleapis.com/css?family=Open+Sans);

//Global Variables
@bg-color: saturate(rgb(211, 211, 211), 50%);
@font1: 'Open Sans';

*{
  font-family: @font1, sans-serif;
}

html, body{
  background-color: @bg-color;
  margin: 0;
  height: 100%;
}

#map {
  min-height: 500px;
  max-height: 100%;
}


h1, h2, h3, h4, h5 {
  text-align: center;
}
 
form {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

form label {
  text-align: left;
}


.btn {
  width: 100px;
  margin-top: 10px;
}

//Content Wrapper
#wrapper {
  width: 90%;
  min-height: 1000px;
  max-height: 100%;
  margin: 0px auto;
}
